@import 'libs/bootstrap-reboot.min';


@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(65, 65, 65);
}

.container {
    display: block;
    max-width: 1140px;
    margin: 0 auto;
    &__promo {
        padding-top: 300px;
    }
    &__about_me {
        padding-top: 120px;
        padding-bottom: 60px;
    }
    &__experience {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    &__skills {
        padding-bottom: 60px;
        padding-top: 60px;
    }
    &__portfolio {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    &__price {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    &__contacts {
        padding-top: 60px;
        padding-bottom: 90px;
    }
}

@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/button';
@import 'blocks/sidepanel';
@import 'blocks/hamburger';
@import 'blocks/overlay';
@import 'blocks/experience';
@import 'blocks/about_me';
@import 'blocks/skills';
@import 'blocks/portfolio';
@import 'blocks/price';
@import 'blocks/contacts';
@import 'blocks/pageup';
@import 'blocks/header';
@import 'blocks/media';