.experience {
    min-height: 100vh;
    &__title {
        text-align: center;
    }
    &__subtitle {
        position: relative;
        z-index: 2;
        text-align: center;
        line-height: 36px;
        &:before {
            position: absolute;
            content: '';
            width: 36px;
            height: 36px;
            border-radius: 100%;
            background: $main-color;
            z-index: -1;
            transform: translateX(4px);
        }
    }
    &__line {
        width: 60px;
        height: 3px;
        margin: 0 auto;
        margin-top: 25px;
        background-color: $main-color;
    }
    &__wrapper {
        padding-top: 60px;
        display: grid;
        grid-template-columns: 350px 350px;
        // column-gap: 150px;
        // width: 836px;
        // margin: 0 auto;
        justify-content: space-between;
    }

    &__column {
        &-title {
            position: relative;
            padding-left: 32px;
            &:before {
                position: absolute;
                content: '';
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background: $main-color;
                left: -21px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 2;
            }
        }
        ul {
            list-style-type: none;
            li {
                position: relative;
                &:after {
                    content: '';
                    width: 1px;
                    height: 105%;
                    position: absolute;
                    top: -18px;
                    left: -46px;
                    background-color: #000;
                    z-index: -1;
                }
            }
        }
    }
    &__icon {
        margin-right: 5px;
        img {
            transform: translate(-11px, 8px);
        }
        &:before {
            position: absolute;
            content: '';
            width: 36px;
            height: 36px;
            border-radius: 100%;
            background: $main-color;
            z-index: -1;
            top: 1px;
            left: -3px;
        }
        &:after {
            position: absolute;
            content: '';
            width: 42px;
            height: 1px;
            background-color: #000;
            z-index: -1;
            top: 18px;
            left: -45px;
        }
    }
    &__head {
        position: relative;
        padding-left: 25px;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    &__body {
        margin-top: 12px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }
    &__headwrapper {
        display: flex;
        flex-direction: column;
    }
    &__item {
        padding-top: 45px;
    }
    .margin0 {
        margin: 0
    }
    
}