.header {
    display: block;
    height: 60px;
    width: 100%;
    position: fixed;
    background: rgba(43, 43, 43, 0.8);
    z-index: 10;
}

.progressВarUnder {
    position: absolute;
    height: 5px;
    width: 100%;
    left: 0;
    background: rgb(134, 134, 134);
    top: 0;
}

.progressВar {
    position: absolute;
    height: 5px;
    width: 0%;
    left: 0;
    background: rgb(255, 165, 1);
    top: 0;
    border-radius: 2px;
}